@font-face{
  font-family: Gilroy;
  src: url(../fonts/gilroy-extrabold-webfont.woff2);
}

body{
  margin: 0;
  padding: 0;

  font-family: Gilroy, Arial, Helvetica, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 15px;
  line-height: 30px;
}

*{
  box-sizing: border-box;
}

.pos-flex{
  display: flex;
}

.visually-hidden{
  display: none;
}

a{
  text-decoration: none;
  color: #000;
}

ul{
  list-style: none;
}

h2{
  font-size: 47px;
  line-height: 55px;
}

button{
  border: none;
  border-radius: 0;
  padding: 0;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/* HEADER */

.main-header *{
  padding: 0;
  margin: 0;
}

.main-header{
  height: 300px;
  background-color: #f7e296;
  margin-top: 40px;
  padding-left: 60px;
  padding-top: 50px;
  position: relative;
}

.header-logo{
  font-size: 48px;
  line-height: 60px;
  position: absolute;
  top: -32px;
}

.user-menu{
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  display: flex;
  margin-bottom: 45px;
}
.user-menu li:first-child{
  width: 540px;
}
.user-menu li:nth-child(2){
  width: 280px;
}
.user-menu li:nth-child(3){
  width: 135px;
}
.user-menu li:last-child{

}

.catalog-menu{
  font-size: 18px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
}
.catalog-modal{
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  display: flex;
}

.main-header a:hover{
  color: rgba(0,0,0,0.6);
}
.main-header a:focus{
  color: rgba(0,0,0,0.3);
}


/* SLIDER */


.slider{
  margin-top: -110px;
}

/* .slider-item{
    display: flex;
} */

.slider-item{
  display: none;
}
.slider-item.show{
  display: flex;
}

.slider-img{
  min-width: 560px;
  text-align: center;
  z-index: 1;
}

.slider-description{
  /* width: 640px; */
  flex-grow: 1;
  position: relative;
  padding-top: 40px;
}
.slider-description::before{
  content: "";
  display: table;
  position: absolute;
  width: 100px;
  height: 8px;
  background-color: #fff;
  top: 35px;
  left: 0;
}
.slider-description h2{
  position: relative;
  z-index: 2;
}

.slider-description-number{
  position: absolute;
  color: #fff;
  font-size: 179.2px;
  line-height: 179.2px;
  top: -12px;
  right: 60px;
}
.slider-description-about{
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}
.btn-about{
  cursor: pointer;
  /* box-sizing: border-box; */
  padding-top: 5px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
  border: none;
  width: 220px;
  height: 40px;
  background: linear-gradient(0,transparent 0, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}
.btn-about:hover,
.btn-about:focus{
  background-color: #f0c52e;
}
.btn-about:focus{
  color: rgba(0,0,0,0.3);
}

.slider-description-features tr:first-child{
  font-size: 36px;
}
.slider-description-features tr:last-child{
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  color: #464646;
}


/* CATEGORIES */


.categories-menu{
  display: flex;
  justify-content: space-around;
}
h3{
  font-size: 18px;
  line-height: 20px;
}
.categories-menu a{
  display: block;
}
.categories-menu-item{
  position: relative;
}
.categories-menu-item a::before{
  content: "";
  display: table;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.categories-menu-item a::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: table;
  width: 160px;
  height: 160px;
  /* background-color: #f7e296; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.categories-menu li:first-child a::after{
  background-image: url('../img/decor/popular-1.svg');
}
.categories-menu li:nth-child(2) a::after{
  background-image: url('../img/decor/popular-2.svg');
  background-position: 50% 100%;
}
.categories-menu li:nth-child(3) a::after{
  background-image: url('../img/decor/popular-3.svg');
}
.categories-menu li:nth-child(4) a::after{
  background-image: url('../img/decor/popular-4.svg');
}
.categories-menu li:nth-child(5) a::after{
  background-image: url('../img/decor/popular-5.svg');
}
.categories-menu li:last-child a::after{
  background-image: url('../img/decor/popular-6.svg');
}

.categories-menu-item a:hover::before{
  background-color: #f0c52e;
}
.categories-menu-item a:focus h3,
.categories-menu a:focus::after{
  opacity: 0.5;
}
/* фокусить пока не выходит. скорее всего придется что-то изобретать с дивами дополнительно */


/* FEATURES */


.features{
  display: flex;
}
.features-nav{
  box-sizing: content-box;
  width: 277px;
  height: 320px;
  border-right: 6px solid #000;
  margin-right: 117px;
}
.feature-content{
  display: none;
}
.feature-content.show{
  display: block;
  width: 460px;
  padding-right: 300px;
}
.feature-content p{
  font-family: OpenSans, Arial, sans-serif;
}
.feature-content-1{
  background-image: url('../img/decor/services-delivery.svg');
  background-repeat: no-repeat;
  background-position: 560px 85px;
}
.feature-content-2{
  background-image: url('../img/decor/services-warranty.svg');
  background-repeat: no-repeat;
  background-position: 560px 85px;
}
.feature-content-3{
  background-image: url('../img/decor/services-credit.svg');
  background-repeat: no-repeat;
  background-position: 560px 85px;
}
.btn{
  cursor: pointer;
  /* box-sizing: border-box; */
  border: none;
  padding-top: 1px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 160px;
  height: 40px;
  background: linear-gradient(0,transparent 0, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}


/* VENDORS */

.vendors-list{
  display: flex;
  justify-content: space-around;
}
.vendors-list img{
  filter: saturate(0);
  opacity: 0.2;
}
.vendors-list img:hover{
  filter: saturate(1);
  opacity: 1;
}


/* ABOUT AND CONTACTS */
.about-and-contacts{
  display: flex;
}

.btn-close{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  /* background-color: #f7e296; */
  position: absolute;
  top: 25px;
  right: 25px;
  /* color: #fff; */
  background-image: url('../img/decor/modal-close.svg');
  opacity: 0.5;
}
.btn-close:hover{
  opacity: 1;
}
.btn-close:focus{
  opacity: 0.3;
}

.big-map, .contacts-form{
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 200px;
  padding-left: 200px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.contacts-form{
  display: none;
}
.contacts-form-bg{
  position: relative;
  width: 960px;
  height: 555px;
  padding: 100px;
  background-color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.contacts-form-name-email.pos-flex{
  flex-basis: 360px;
  /* min-width: 360px; */
  justify-content: space-between;
}
.contacts-form-name-email input{
  width: 360px;
  height: 50px;

}
.contacts-form-name-email input,
.contacts-form-text textarea{
  background-color: #f2f2f2;
  border: none;
  padding: 20px;
  margin-top: 8px;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
}
.contacts-form-name-email input::-moz-placeholder,
.contacts-form-text textarea::-moz-placeholder{
  opacity: 0.4;
}
.contacts-form-name-email input::-webkit-input-placeholder,
.contacts-form-text textarea::-webkit-input-placeholder{
  opacity: 0.4;
}
.contacts-form-name-email input:hover,
.contacts-form-text textarea:hover{
  background-color: #eaeaea;
}
.contacts-form-name-email input:focus,
.contacts-form-text textarea:focus{
  background-color: #fff;
  border: 2px solid #f7e296;
}
.contacts-form-name-email input:focus::-webkit-input-placeholder,
.contacts-form-text textarea:focus::-webkit-input-placeholder{
  opacity: 1;
}
.contacts-form-name-email input.form-invalid,
.contacts-form-text textarea.form-invalid{
  background-color: #f6dada;
}

.contacts-form-name-email{
  margin-bottom: 33px;
}

.contacts-form-text textarea{
  width: 760px;
  height: 150px;
  margin-bottom: 50px;
}

.contacts-form input[type="submit"]{
  width: 200px;
  letter-spacing: 2px;
}

.big-map-bg{
  position: relative;
  width: 960px;
  height: 559px;
}
