@font-face{
  font-family: Gilroy;
  src: url(../fonts/gilroy-extrabold-webfont.woff2) format(woff2);
}

body{
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

*{
  box-sizing: border-box;
}

.pos-flex{
  display: flex;
}

.visually-hidden{
  display: none;
}

a{
  text-decoration: none;
  color: #000;
}

ul{
  list-style: none;
}

h2{
  font-size: 47px;
  line-height: 55px;
}

button{
  border: none;
  border-radius: 0;
  padding: 0;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/* HEADER */

.main-header *{
  padding: 0;
  margin: 0;
}

.main-header{
  height: 300px;
  background-color: #f7e296;
  margin-top: 40px;
  padding-left: 60px;
  padding-top: 30px;
  position: relative;
}

.header-logo{
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  position: absolute;
  top: -32px;
}

.main-nav{
  width: 1040px;
}

.user-menu{
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  margin-bottom: 30px;
}
.user-menu li:first-child{
  width: 540px;
}
.user-menu li:nth-child(2){
  width: 280px;
}
.user-menu li:nth-child(3){
  width: 100px;
}
.user-menu li:last-child{
  margin-left: auto;
}

.user-menu-search{
  font-family: OpenSans, Arial, sans-serif;
}
.user-menu-search input[type='search']{
  font-family: inherit;
  padding-left: 35px;
  width: 355px;
  height: 50px;
  background-color: rgba(0,0,0,0);
  border: none;
  background-image: url('../img/decor/header-search.svg');
  background-repeat: no-repeat;
  background-position: left 5px center;
}
.user-menu-search #search:hover::-moz-placeholder,
.user-menu-search #search:hover::-webkit-input-placeholder{
  color: rgba(0,0,0,0.6);
}
.user-menu-search input[type='search']:focus{
  height: 48px;
  border-bottom: 2px solid #000;
  color: #000;
}
.user-menu-search input[type='search']:focus + .btn-search{
  display: inline-block;
}
.user-menu-search input[type='submit']{
  font-family: inherit;
  width: 85px;
  height: 50px;
  margin-left: -4px;
  background-color: rgba(0,0,0,0);
  border: 2px solid #000;
  border-radius: 0;
}
.user-menu-search input[type='submit']:hover{
  background-color: #000;
  color: #fff;
}
.user-menu-search input[type='submit']:focus{
  color: #6a6a6a;
}

.user-menu a{
  position: relative;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: center left;
}
.user-menu-enter{
  background-image: url('../img/decor/header-user.svg');
}
.user-menu-compare{
  background-image: url('../img/decor/header-compare.svg');
}
.user-menu-cart{
  background-image: url('../img/decor/header-cart.svg');
}


.catalog-menu{
  font-size: 18px;
  letter-spacing: 4px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
}
.catalog-menu li:first-child{
  min-width: 250px;
  margin-right: 290px;
}
.catalog-menu li:nth-child(2){
  min-width: 160px;
}
.catalog-menu li:last-child{
  margin-left: auto;
}

.catalog-menu-open-modal-trigger{
  width: 250px;
  display: inline-block;
  background-image: url('../img/btn-plus.png');
  background-repeat: no-repeat;
  background-position: center left 230px;
}

.catalog-modal{
  width: 1040px;
  height: 165px;
  position: absolute;
  bottom: 0;
  padding-top: 25px; /* выравнивал на глаз */
  background-color: #f7e296;
  z-index: 20;
  display: none;
}
.catalog-modal a{
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
}

.catalog-menu-open-modal:hover .catalog-modal{
  display: flex;
}

.catalog-modal-menu:first-child{
  width: 240px;
}
.catalog-modal-menu:nth-child(2){
  width: 200px;
}

.main-header a:hover,
.catalog-menu-open-modal:hover .catalog-menu-open-modal-trigger{
  color: rgba(0,0,0,0.6);
}
.main-header a:focus{
  color: rgba(0,0,0,0.3);
}


/* SLIDER */


.slider{
  margin: 0 auto;
  margin-top: -110px;
  margin-bottom: 90px;
  width: 1040px;
  position: relative;
}

/* .slider-item{
    display: flex;
} */

.slider-item{
  display: none;
  min-height: 525px;
}
/* .slider-item.show{
  display: flex;
} */

.slider-img{
  min-width: 540px;
  text-align: center;
  z-index: 1;
}
.slider-img img{
  max-width: 80%;
}

.slider-description{
  min-width: 500px;
  /* flex-grow: 1; */
  margin-left: auto;
  position: relative;
  padding-top: 40px;
}
.slider-description::before{
  content: "";
  display: table;
  position: absolute;
  width: 100px;
  height: 8px;
  background-color: #fff;
  top: 35px;
  left: 0;
}
.slider-description h2{
  position: relative;
  z-index: 2;
}

.slider-description a{
  margin-top: 50px;
}

.slider-description-number{
  position: absolute;
  color: #fff;
  font-size: 179.2px;
  line-height: 179.2px;
  top: -12px;
  padding: 0;
  right: -12px; /* Только так смог прижать у правому краю */
}
.slider-description-about{
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}
.btn-about{
  cursor: pointer;
  /* box-sizing: border-box; */
  padding-top: 5px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
  border: none;
  width: 220px;
  height: 40px;
  background: linear-gradient(0,transparent 0, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}
.btn-about:hover,
.btn-about:focus{
  background-color: #f0c52e;
}
.btn-about:focus{
  color: rgba(0,0,0,0.3);
}

.slider-description-features{
  margin-top: 65px;
}
.slider-description-features tr:first-child{
  font-size: 36px;
}
.slider-description-features tr:last-child{
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  color: #464646;
}
.slider-description-features td{
  width: 160px;
}
.slider-description-features td:nth-child(2){
  width: 140px;
}

.slider-nav-check-1,
.slider-nav-check-2,
.slider-nav-check-3{
  position: absolute;
  top: 350px;
  z-index: 30;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-nav-check-1{
  right: 92px;
  background-image: url('../img/slider-button-empty.svg');
}
.slider-nav-check-2{
  right: 56px;
  background-image: url('../img/slider-button-empty.svg');
}
.slider-nav-check-3{
  right: 20px;
  background-image: url('../img/slider-button-empty.svg');
}

input#slide-1:checked ~ .slider-item-1,
input#slide-2:checked ~ .slider-item-2,
input#slide-3:checked ~ .slider-item-3{
  display: flex;
}
input#slide-1:checked + .slider-nav-check-1,
input#slide-2:checked + .slider-nav-check-2,
input#slide-3:checked + .slider-nav-check-3{
  background-image: url('../img/slider-button-active.svg');
}

/* CATEGORIES */

.categories{
  margin-bottom: 150px;
}

.categories-menu{
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
h3{
  font-size: 18px;
  line-height: 20px;
}
.categories-menu a{
  display: block;
}
.categories-menu-item{
  position: relative;
  width: 160px;
}
.categories-menu-item a::before{
  content: "";
  display: table;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.categories-menu-item a::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: table;
  width: 160px;
  height: 160px;
  /* background-color: #f7e296; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.categories-menu li:first-child a::after{
  background-image: url('../img/decor/popular-1.svg');
}
.categories-menu li:nth-child(2) a::after{
  background-image: url('../img/decor/popular-2.svg');
  background-position: 50% 100%;
}
.categories-menu li:nth-child(3) a::after{
  background-image: url('../img/decor/popular-3.svg');
}
.categories-menu li:nth-child(4) a::after{
  background-image: url('../img/decor/popular-4.svg');
}
.categories-menu li:nth-child(5) a::after{
  background-image: url('../img/decor/popular-5.svg');
}
.categories-menu li:last-child a::after{
  background-image: url('../img/decor/popular-6.svg');
}

.categories-menu-item a:hover::before{
  background-color: #f0c52e;
}
.categories-menu-item a:focus h3,
.categories-menu a:focus::after{
  opacity: 0.5;
}


/* FEATURES */

.features-wrapper{
  width: 100%;
  min-height: 288px;
  background-color: #e5e5e5;
  margin-bottom: 50px;
}

.features-container{
  position: relative;
  top: -100px;
}

.features{
  display: flex;
}
.features-nav{
  width: 280px;
  height: 319px;
  border-right: 7px solid #000;
}
.features-nav ul{
  padding: 0;
  margin: 0;
  margin-top: 80px;
}
.features-nav li{
  margin-bottom: 20px;
}
.feature-content{
  display: none;
  background-repeat: no-repeat;
  background-position: 560px 85px;
  width: 740px;
  padding-top: 30px;
  padding-right: 300px;
  margin-left: 120px;
}
.feature-content.show{
  display: block;
}
.feature-content p{
  font-family: OpenSans, Arial, sans-serif;
}
.feature-content-1{
  background-image: url('../img/decor/services-delivery.svg');
}
.feature-content-2{
  background-image: url('../img/decor/services-warranty.svg');
}
.feature-content-3{
  background-image: url('../img/decor/services-credit.svg');
}
.btn{
  cursor: pointer;
  border: none;
  padding-top: 1px;
  /* padding-left: 25px; */
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 160px;
  height: 40px;
  background: linear-gradient(0,transparent 0, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}

.features-nav-list label{
  width: 160px;
  margin-right: 117px;
  letter-spacing: 4px;
}
.features-nav-list label:hover{
  background: #f0c52e;
}

input#feature-content-1:checked ~ .feature-content-1,
input#feature-content-2:checked ~ .feature-content-2,
input#feature-content-3:checked ~ .feature-content-3{
  display: block;
}
input#feature-content-1:checked ~ nav label.feature-content-1-btn,
input#feature-content-2:checked ~ nav label.feature-content-2-btn,
input#feature-content-3:checked ~ nav label.feature-content-3-btn{
  width: 277px;
  margin-right: 0;
  padding-right: 117px;
  background: #000;
  color: #f7e184;
}

/* VENDORS */

.vendors{
  margin-bottom: 65px;
}

.vendors-list{
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
.vendors-list img{
  filter: saturate(0);
  opacity: 0.2;
}
.vendors-list img:hover{
  filter: saturate(1);
  opacity: 1;
}


/* ABOUT AND CONTACTS */
.about-and-contacts{
  display: flex;
  justify-content: space-between;
  min-height: 575px;
  margin-bottom: 75px;
}

.btn-close{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  /* background-color: #f7e296; */
  position: absolute;
  top: 25px;
  right: 25px;
  /* color: #fff; */
  background-image: url('../img/decor/modal-close.svg');
  opacity: 0.5;
}
.btn-close:hover{
  opacity: 1;
}
.btn-close:focus{
  opacity: 0.3;
}

.big-map, .contacts-form{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.contacts-form-bg{
  position: relative;
  margin: 0 auto;
  width: 960px;
  min-height: 555px;
  padding: 100px;
  background-color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.contacts-form-name-email.pos-flex{
  justify-content: space-between;
}
.contacts-form-name-email input{
  width: 100%;
  height: 50px;
}
.contacts-form-email,
.contacts-form-name{
  flex-basis: 360px;
}

.contacts-form-name-email input,
.contacts-form-text textarea{
  background-color: #f2f2f2;
  border: none;
  padding: 20px;
  margin-top: 8px;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
}
.contacts-form-name-email input::-moz-placeholder,
.contacts-form-text textarea::-moz-placeholder{
  opacity: 0.4;
}
.contacts-form-name-email input::-webkit-input-placeholder,
.contacts-form-text textarea::-webkit-input-placeholder{
  opacity: 0.4;
}
.contacts-form-name-email input:hover,
.contacts-form-text textarea:hover{
  background-color: #eaeaea;
}
.contacts-form-name-email input:focus,
.contacts-form-text textarea:focus{
  background-color: #fff;
  border: 2px solid #f7e296;
}
.contacts-form-name-email input:focus::-moz-placeholder,
.contacts-form-text textarea:focus::-moz-placeholder{
  opacity: 1;
}
.contacts-form-name-email input:focus::-webkit-input-placeholder,
.contacts-form-text textarea:focus::-webkit-input-placeholder{
  opacity: 1;
}
.contacts-form-name-email input.form-invalid,
.contacts-form-text textarea.form-invalid{
  background-color: #f6dada;
}

.contacts-form-name-email{
  margin-bottom: 33px;
}

.contacts-form-text textarea{
  width: 760px;
  height: 150px;
  margin-bottom: 50px;
}

.contacts-form input[type="submit"]{
  width: 200px;
  letter-spacing: 2px;
}

.big-map-bg{
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 559px;
}

.about-and-contacts section{
  width: 560px;
}
.about-and-contacts section:before{
  content: "";
  display: table;
  width: 80px;
  border-top: 6px solid #000;
}


.about-and-contacts .btn{
  width: 260px;
  padding-top: 5px;
}

.about-and-contacts p{
  font-family: OpenSans, Arial, sans-serif;
  color: #464646;
}

.about-us{
  padding-right: 65px;
}
.about-us p{
  margin-bottom: 30px;
}
.contacts p{
  margin-bottom: 35px;
}
.contacts .map{
  display: inline-block;
  margin-bottom: 45px;
}
.delivery-list{
  padding: 0;
  padding-top: 25px;
  padding-bottom: 48px;
  margin: 0;
}
.delivery-list li{
  padding-left: 35px;
  background-image: url('../img/decor/about-us-item.svg');
  background-repeat: no-repeat;
  background-position: center left -5px;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
}

/* FOOTER */

.footer-wrapper{
  width: 100%;
  height: 323px;
  background-color: #464646;
}

.main-footer{
  /* justify-content: space-between; */
}
.main-footer *{
  color: #fff;
}

.main-footer-left{
  margin-top: 60px;
  margin-right: 125px;
}
.main-footer-left:after{
  content: "";
  display: table;
  width: 80px;
  border-bottom: 7px solid #ffc600;
  padding-top: 60px;
}

.footer-logo{
  font-size: 48px;
  font-weight: bold;
  color: #ffc600;
  line-height: 48px;;
}

.footer-address{
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
}

.main-footer-middle{
  margin-top: 110px;
}

.footer-features{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
}
.footer-features li:first-child,
.footer-features li:nth-child(2){
  margin-right: 30px;
}

.footer-social{
  justify-content: center;
  margin-top: 55px;
}

.footer-social a{
  color: rgba(0,0,0,0);
  font-size: 1px;
  overflow: hidden;
  display: block;
  height: 33px; /* Или лучше прописать отдельно высоту у элемента li */
  width: 33px;
}
.footer-social li{
  margin-right: 25px;
}
.footer-social li:last-child{
  margin-right: 0;
}

/* При такой стилизации теряется смысл в элементах <a>. Они невидимы. Загонять span внутрь и ему задавать фоновую картинку? */
.footer-social a{
  background-repeat: no-repeat;
  opacity: 0.3;
}
.footer-social-fb a{
  background-image: url('../img/fb.svg');
}
.footer-social-in a{
  background-image: url('../img/insta.svg');
}
.footer-social-tw a{
  background-image: url('../img/twitter.svg');
}

.main-footer-right{
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  margin-left: auto;
  margin-top: 45px;
  text-align: right; /* или его лучше делать на флекс тоже? */
}
.main-footer-right ul{
  padding: 0;
}

.footer-user-menu li{
  position: relative;
  min-width: 50px;
  margin-left: 40px;
}
.footer-user-menu li:first-child{
  margin-left: 0;
}
.footer-user-menu span{
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: center left;
}
.footer-user-menu li:first-child a::before,
.footer-user-menu li:nth-child(2) a::before,
.footer-user-menu li:last-child a::before{
  content: "";
  display: table;
  position: absolute;
  bottom: 9px;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
}
.footer-user-menu li:first-child a::before{
  background-image: url('../img/decor/footer-user.svg');
}
.footer-user-menu li:nth-child(2) a::before{
  background-image: url('../img/decor/footer-compare.svg');
  bottom: 7px;
}
.footer-user-menu li:last-child a::before{
  background-image: url('../img/decor/footer-cart.svg');
  margin-right: 0;
}

.footer-phone{
  margin-top: 40px;
}

.made-by{
  color: rgba(0,0,0,0);
  font-size: 1px;
  overflow: hidden;
  display: inline-block;
  background-image: url('../img/logo-html.svg');
  background-repeat: no-repeat;
  width: 27px;
  height: 35px;
  margin-top: 40px;
}

.footer-logo:hover,
.footer-features a:hover,
.made-by:hover{
  opacity: 0.6;
}
.footer-logo:focus,
.footer-features a:focus,
.made-by:focus{
  opacity: 0.3;
}

.footer-user-menu a span{
  opacity: 0.7;
}
.footer-user-menu a:hover span{
  opacity: 1;
}
.footer-user-menu a:focus span{
  opacity: 0.3;
}

.footer-user-menu a:hover::before{
  opacity: 0.6;
}
.footer-user-menu a:focus::before{
  opacity: 0.3;
}

.footer-social a:hover{
  opacity: 0.6;
}
.footer-social a:focus{
  opacity: 0.1;
}


/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/* CATALOG */
/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
